/* box sizing rules */
*, 
*::before, 
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* remove default margin */
body, h1, p, figure, blockquote, dl, dd {
    margin: 0;
}

:root {
    --softRed: hsl(10, 79%, 65%);
    --cyan: hsl(186, 34%, 60%);
    --darkBrown: hsl(25, 47%, 15%);
    --mediumBrown: hsl(28, 10%, 53%);
    --cream: hsl(27, 66%, 92%);
    --paleOrange: hsl(33, 100%, 98%);
}

* {
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

body {
    background-color: var(--cream);
    height: 100vh;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color:hsl(10, 79%, 65%);
}

main {
    width: 520px;
    max-width: 520px;
    display: flex;
    flex-direction: column;
    margin: 100px auto;
}

.top {
    background-color: var(--softRed);
    color:hsl(33, 100%, 98%);
    border-radius: 12px;
    margin-bottom: 5%;
    display: inherit;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.balance {
    margin: 5% 4%;
}

#balance-title {
    font-size: .8rem;
}

#top-amount {
    font-size: 1.5rem;
    padding: 0; 
}

.top img {
    height: 45%;
    margin-right: 4%;
}

.bottom h1 {
    margin: 5% 8%;
}

.chart-wrapper {
    padding: 2px 40px;
}

.charts {
    display: flex;
    height: 213px;
    margin-top: 30px;
    margin-bottom: 20px;
    padding-bottom: 26px;
    border-bottom: 2px solid var(--cream);
}
.chart {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
}
.chart-bar {
    height: 0%;
    width: 90%;
    position: relative;
    cursor: pointer;
    opacity: 0;
    background-color: var(--softRed);
    border-radius: 5px;
}
.chart-bar:hover {
    background-color: hsla(10, 79%, 65%, 0.63);
}

.chart-bar::before {
    position: absolute;
    content: '$' attr(data-value);
    background-color: var(--darkBrown);
    color: rgb(255, 247, 231);
    padding: 8px;
    top: -45px;
    transform: translate(-50%, 0);
    opacity: 0;
    transition: opacity 0.15s ease-in-out, transform 0.15s ease-in-out;
}

.chart:hover .chart-bar::before {
    opacity: 1;
    transform: translate(-50%, -10%);
    transition: opacity 0.15s ease-in-out, transform 0.15s ease-in-out;
}

.current .chart-bar {
	background-color: var(--cyan);
}
.current .chart-bar:hover {
	background-color: hsla(186, 34%, 60%, 0.625);
}




#myChart {
    width: 200px;
    padding: 10px 0 20px;
    border-bottom: 1px solid var(--cream);
    margin-bottom: 20px;
}

hr {
    width: 85%;
    margin: 1% auto 5%;
    border: 1px solid var(--cream);
}

.bottom {
    background-color: var(--paleOrange);
    border-radius: 12px;
    color: var(--darkBrown);
}

.bottom h1 {
    font-size: 1.4rem;
    font-weight: 700;
}

.monthly-total {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.monthly {
    display: inherit;
    flex-direction: column;
    justify-content: center;;
    margin: 0 25px;
}

.monthly-amount {
    color: var(--mediumBrown);
    font-size: .9rem;
    margin: 0;
}

.larger {
    font-size: 2.4rem;
    color:hsla(25, 47%, 15%)
}

.align-right {
    align-items: flex-end;
}

#increase {
    font-weight: 700;
    margin: 0;
}



footer {
    position: absolute;
    bottom: 2%;
    left: 25%;
    width: 50%;
    color:hsl(10, 79%, 65%)
}

@media (max-width: 600px) {
    main {
        width: 80vw;
    }
}